.container {
  &--max {
    max-width: 1600px;
  }

  &--home-hero {
    position: relative; 
    &::before {
      content: '';
      position: absolute;
      top: 0; 
      right: 0;
      width: 50%;
      background: $blue; 
      height: 100%;
    }
  }
}