body {
  font-size: 16px;
  font-style: $font-body;
  font-weight: 300; 
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-display; 
  font-weight: 800; 
}

h1, .h1 {
  font-size: 3.5rem; 

  @media (min-width: $screen-md) {
    font-size: 6.25rem; 
  }
}

h2, .h2 {
  font-size: 4rem; 

  @media (min-width: $screen-lg) {
    font-size: 5rem; 
  }
}

h3, .h3 {
  font-size: 3rem; 
}

h4, .h4 {
  font-size: 2.5rem; 
  font-weight: 700;
}

h5, .h5 {
  font-size: 2rem; 
}

h6, .h6 {
  font-size: 1.75rem;
}

.p, p {
  font-size: 1rem;
  @media (min-width: $screen-md) {
    font-size: 1.25rem;
  }

  &--large {
    font-size: 1.125rem;
    @media (min-width: $screen-md) {
      font-size: 1.5rem;
    }
  }

  &--med {
    font-size: 0.875rem;
    @media (min-width: $screen-md) {
      font-size: 1rem;
    }
  }

  &--small {
    font-size: 0.75rem;
    @media (min-width: $screen-md) {
      font-size: 0.875rem;
    }
  }
}

.font-body {
  font-family: $font-body;
}

.font-display {
  font-family: $font-display;
}

body {
  @extend .font-body;
}

.article-content {
  p, ul, li {
    @extend .p
  }
  h3 {
    font-size: 1.5rem;
    font-family: $font-body;
    font-weight: $font_weight_semibold; 
  }

  h4 {
    font-size: 1.25rem;
    font-family: $font-body;
    font-weight: $font_weight_semibold; 
  }
}